@import "~styles/variables";

.chatHeader {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid $gray;
  background-color: $white;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
